# Dependencias para servant/master
# Opcional: para cambiar nombre de proceso de manera más efectiva
setproctitle>=1.3.3

# Para compilar a binario
pyinstaller>=6.0.0

# Para Windows: servicios y despliegue remoto
pywin32>=306; sys_platform == 'win32'
pywinrm>=0.4.3

# Para despliegue remoto SSH (Linux)
paramiko>=3.3.1
